meta charset="utf-8"
meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"
meta name="viewport" content="width=device-width, initial-scale=1.0"

title SAPORIS
link href="/css/bootstrap.css" rel="stylesheet" type="text/css"
/ link href="css/bootstrap-theme.css" rel="stylesheet" type="text/css"
link href="/css/custom.css" rel="stylesheet" type="text/css"
link href="/css/select2.min.css" rel="stylesheet" type="text/css"
link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" /
script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
script src="/js/jquery-3.2.1.min.js"
script src="/js/bootstrap.min.js"


