h1 Secretaría del Desarrollo Urbano & Ecología de García
h4 Bienvenido
p  Porfavor, ingresa tus datos para continuar

label Usuario
input#user.form-control type="text" /

label Contraseña
input#password.formcontrol type="password"/