.row
  .col-sm-12
  img.img-responsive  src="img/productos_.jpg"
  
  h1
	span.product_title Productos: 
	span.product_name Salsas
  p ugo Sazonador: Salsa de aspecto líquido de color café obscuro con notas de soya y saladas ideal para sazonar una gran variedad de platillos. Salsa Inglesa: Salsa de consistencia líquida, con aroma característico a clavo y especias, de color café obscuro ideal para sazonar. Se considera un reforzador del sabor empleado en diversos platillos. Salsa de Soya: Salsa de consistencia líquida y sabor característico salado, con aroma característico a cárnicos de color café obscuro ideal para sazonar.
 
    br Aplicaciones Jugo Sazonador:
	•	Bebidas
	•	Cocteles
	•	Aderezos
	•	Vinagretas
	•	Sazonar  verduras y botanas
	•	Sazonar carnes
	•	Su rendimiento depende de la intensidad de la marinada o del sabor que se le proporcione a las preparaciones.

	br Aplicaciones Salsa Inglesa:
	•	Pastas
	•	Pescados y mariscos
	•	Ingrediente para pizza
	•	Ingrediente esencial en la ensalada César
	•	Condimento para el Clamato y la Michelada
	•	Acompañamiento para botanas
	•	Condimentar huevos revueltos
	•	Para marinar carnes
	•	Aplicaciones Salsa de Soya:
	•	Comida oriental.
	•	Sazonar carnes.
	•	Aporta sabor a las botanas.
