@font-face { font-family: HarmoniaSans; 
	src: url('../fonts/HarmoniaSansProCyr-Regular.otf') format("opentype"),
	url('../fonts/HarmoniaSansProCyr-Regular.woff') format('woff');
}

@font-face { font-family: HarmoniaSans; 
	src: url('../fonts/HarmoniaSansProCyr-Bold.otf') format("opentype"),
	url('../fonts/HarmoniaSansProCyr-Bold.woff') format('woff');
	font-weight: bold;
}

@font-face { font-family: HarmoniaSans; 
	src: url('../fonts/HarmoniaSansProCyr-Italic.otf') format("opentype"),
	url('../fonts/HarmoniaSansProCyr-Italic.woff') format('woff');
	font-style: italic;
}

@font-face { font-family: HarmoniaSans; 
	src: url('../fonts/HarmoniaSansProCyr-Light.otf') format("opentype"),
	url('../fonts/HarmoniaSansProCyr-Light.woff') format('woff');
	font-weight: lighter;
}

h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	color: #000;
	font-weight: bold;
	text-align: left;
}

.btn {
    border-radius: 12px;
    background-color: #19C1AC;
    color: black;
    font-size: 24px;
    font-weight: bold;
    border-color: black;
    border-style: solid;
    border-width: 4px;
}

.index_card{
    width: 16rem; 
    height: 22rem; 
    border-color: black; 
    border-style: solid;
    text-align: center; 
    margin: auto; 
    display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 15rem; 
  height: 10rem;
  opacity: 0;
  transition: .5s ease;
  background-color: #19C1AC;
  margin-left: 20px;
}

.container:hover .overlay {
  opacity: 0.7;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.index_brands{
	background-color: #EFEFEF;
	height: 10em;
  margin-top: 80px;
}	

.footer_text{
    background-color: #EFEFEF;
    height: 12em;
}
#index_header_1{
	display: inline-block;
} 
h2{
	color: #FFF;
	font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 34px;
}
h4{
	color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
}

h3{
	color: #1a1a1a;
	font-weight: bold;
	font-size: 38px;
  font-family: 'Montserrat', sans-serif;
}
h5{
  font-weight: lighter;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;

}
body{
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
	overflow: auto;
}

#content {
overflow: scroll;
}
p{
	font-size: 14px;
  font-family: 'Open Sans', sans-serif;

}

.footer {

  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #3A34A2;
  vertical-align: center;
  overflow: scroll;
  flex-shrink: 0;

}

.footer .container-fluid .text-muted {
  margin: 10px 0;
}

.btn.btn-default{
	background-color: #3935AE;
	border-color: transparent;
	border-radius: 0;
}

.btn-default{
	color: white;
}

.navbar-default {
    background-color: #fff;
    border-color: #fff;
}
.navbar.navbar-default{
	background-color: fff;
	border-radius: 0;
	height: 70px;
}

.image_con{
	padding-left: 0;
    padding-right: 0;
}
.navbar-default .navbar-nav > li > a{
	color: #000;
	font-weight: bold; 
	text-align: center;
	
}

.navbar-default .navbar-brand{
	color: #3935AE;
	padding-top: 20px;
}

.index_image{
	background-image: url(/img/index.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	height: 500px;
}
@media only screen and (max-width: 750px) {

  .s1_index{
    width: 100%
  }
   .s1_index2{
      margin: auto; 
      display: block; 
      width: 100%
      margin-top: 0px;
  }

  .index_brands{
    background-color: #EFEFEF;
    height: 20em;
    margin-top: 80px;
  } 
    .navbar-default .navbar-brand{
	color: #3935AE;
	padding-left: 0px;
	}

	.navbar-default .navbar-toggle {
	    border-color: #fff;
	    padding-top: 30px;
	}
	.navbar-default .navbar-toggle .icon-bar {
	    background-color: #75E4C2;
	    height: 4px;
	    width: 30px;

	}
	img-index{
		max-width: 250px;

	}
	#carousel_container{
		padding-bottom: 20px;
	}

	
	.navbar-default .navbar-brand{
	color: #3935AE;
	padding-top: 20px;
	
	}
	
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    padding-top: 40px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #3935AE;
    font-size: smaller;
    text-align: center;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #3935AE;
    background-color: #2FDABD;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #3935AE;
}

.navbar-right .dropdown-menu {
	right: initial;
    left: auto;
}

.navbar-right {
    float: right !important;
    margin-right: -15px;
    background-color: #E5E5E5;
}

.detail-button{
	background-color: purple;
}

.dependency-button{
	background-color: #E56D3B;
	text-align: center;
}

.text-muted {
    color: #fff;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}
#img-index{
	max-width: 400.25px;
	max-height: 325.5px;
}
#logos{
	max-width: 100px;
	max-height: 100px;
	display: inline-block;
	margin-right: 30px;
}

#navbar_logo{
	max-width: 150px;
	max-height: 110px;
}
.row .logo_row{
	text-align: center;
} 

.container .logo_container{
	background-color: #EDECED;
	width: 100%;
	height: 450px;
}


#index_paragraph{
	color: #5A67FF;
	font-size: 20px;
	text-align: center;
}

.product_detail{
	color: #5A67FF;
	display: inline;
}

.panel-default > .panel-heading {
    color: #5A67FF;
    background-color: #ffffff;
    border-color: #ddd;
    height: 80px;
}

.panel-title {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 28px;
    color: #5A67FF;
    font-weight: bold;
    background-color: white;
    position: center;
}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
   border-top: 1px
}

#logos_marcas{
	max-width: 100px;
	max-height: 100px;
	display: inline-block;
}

.marcas_element{
	vertical-align: middle;
}

#index_header{
    color: #3935AE;
    font-weight: bolder;
    display: inline-block;
}

.container {
    width: 100%;
    
}

#map{
	text-align: center;
}

.product_tile{
	text-align: left;
}

.product_name{
	color: #3935AE;
	text-align: left;
}
.dropdown-menu{
	background-color: #2FDABD; 
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #fff;
    white-space: nowrap;
    border: hidden;
   
}

.carousel {
    height: 500px;
    margin-bottom: 60px;
    width: 50%;
    display: block;
    margin: auto;
}
/* Since positioning the image, we need to help out the caption */
 .carousel-caption {
    z-index: 10;
}
/* Declare heights because of positioning of img element */
 .carousel .item {
    width: 100%;
    height: 500px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

.col-xs-6 {
    width: 50%;
    display: inline-block;
}

#image_page{
	width: 100%
	display: inline-block;
}

#productos_header{
	text-align: unset;
}
#products_subtext{
	font-style: italic;

}
@media (min-width: 992px)
grid-framework.less:48
.col-md-12 {
    width: 100%;
    display: inline-block;
    padding: inherit;
}

.carousel {
    height: 200px;
    margin-bottom: 60px;
    width: 80%;
    display: block;
    margin: auto;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
    background: white;
}

.carousel-inner {
    /* width: 100%; */
    width: ;
    height: 100%;
    overflow: hidden;
    display: inline-block;
    /* margin-right: 70px; */
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #7485FC;
}


@media (min-width: 768px) {

  .s1_index{
      margin: auto; 
      display: block; 
      max-width: 500px;
  }  

  .s1_index2{
      margin: auto; 
      display: block; 
      max-width: 500px;
      margin-top: -120px;
  }

  .nosotros_purple{
    background-color: #3A34A2;
    height: 300px;

  }

  .footer_p{
    font-size: 12px;
  }
  .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
    .col-xs-6 {
    width: 50%;
    display: inline-block;
    padding: unset;
	}

	.navbar-right {
    float: right !important;
    margin-right: -15px;
    background-color: #fff;
	}

	

	.carousel {
    height: 500px;
    margin-bottom: 60px;
    width: 80%;
    display: block;
    margin: auto;
	}
	#carousel_container{
		padding-bottom: 20px;
		padding-top: 20px;
	}
	.carousel-inner {
    /* width: 100%; */
    width: 40%;
    height: 100%;
    overflow: hidden;
    display: inline-block;
    margin-left: 300px;
    /* margin-right: 70px; */
	}

	.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #2FDABD;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(opacity=50);
    opacity: .5;
	}

	body .container .logo_container{
	background-color: #EDECED;
	width: 100%;
	height: 350px;
	margin-left: unset; 
	margin-right: unset; 
	}	
/*
	body{
	font-family: HarmoniaSans;
	background-color: #fff;
	overflow: auto;
	margin-left: 10%;
	margin-right: 10%;
	}*/
	#page_row{
		
		margin-left: 35px;
    margin-right: 35px;
	}
	#accordion{
	overflow: scroll;
	margin-right: 10%;
	margin-left: 10%;
	}

	.navbar.navbar-default {
    background-color: fff;
    border-radius: 0;
    height: 70px;
    /*margin-right: 10%;
	margin-left: 10%;*/
	}

	.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: inline-block;
    /* max-width: 100%; */
    width: 100%;
    height: auto;
	}
	#index_row{
		    margin-right: 4%;
    margin-left: 4%;
    padding-top: 35px;
	}

	#index_container{
		padding: unset;
	}

	.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
	}

	.col-md-12 {
    width: 100%;
    padding: unset;
    padding-bottom: 30px;
	}

	.row#index_header_2{
		padding-top: unset;
	}

	.footer {

	  bottom: 0;
	  width: 100%;
	  height: 250px;
	  background-color: #3A34A2;
	  vertical-align: center;
	  flex-shrink: 0;
    padding: inherit;

	}

	#index_header_1 {
		padding-left: 30px;
	}
	#index_header_2 {
		padding-left: 30px;
	}
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

b, strong {
    font-weight: bold;
    color: #fff;
}

#footer_social{
	color: #fff;
	padding-left: 4px;
	padding-right: 4px;
}

#footer_link{
	color: #fff;
}

#image_full{
	width: 100%;
    padding: unset;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #E5E5E5;
    background-image: none;
    border: 1px solid #ccc;
    /* border-radius: 4px; */
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); */
    /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); */
    /* -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; */
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
